<ion-tabs>
  <ion-tab [root]="tab1Root" tabTitle="Inicio" tabIcon="home"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="Nosotros" tabIcon="information-circle"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="Contactos" tabIcon="contacts"></ion-tab>
  <ion-tab [root]="tab4Root" tabTitle="Youtube" tabIcon="logo-youtube"></ion-tab>
  <ion-tab tabIcon="chatbubbles" [root]="tab5Root" tabBadge="14" tabBadgeStyle="danger"></ion-tab>
</ion-tabs>
