<ion-header>
  <ion-navbar color="primary">
    <ion-buttons start>
      <button ion-button icon-only>
        <ion-icon name="contact"></ion-icon>
      </button>  
    </ion-buttons>
    <ion-title>Inicio</ion-title>
    <ion-buttons end>
        <button ion-button icon-only>
          <ion-icon name="search"></ion-icon>
        </button>  
      </ion-buttons>

  </ion-navbar>
</ion-header>

<ion-content padding>
  <h2> Clara Domínguez Navarro!</h2>
  <p>
    Pac 3 
  </p>
  <p>
    Desenvolupament front-end amb frameworks Javascript
  </p>
</ion-content>
